In [34]:
import numpy as np
import pandas as pd
import sklearn

In [37]:
from sklearn.datasets import load_boston
df = load_boston

In [33]:
    df.keys() 
    dict_keys (['data','target','feature_names','DESCR','filename'])

NameError: ignored

In [38]:
print(df.feature_names) 
 ['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO' 'B' 'LSTAT']

IndentationError: ignored

In [39]:
boston = pd.DataFrame(df.data, columns=df.feature_names)
boston.head()

AttributeError: ignored

In [40]:
boston['MEDV'] = df.target
boston.head()

AttributeError: ignored

In [20]:
boston.isnull()

      CRIM     ZN  INDUS   CHAS    NOX  ...    TAX  PTRATIO      B  LSTAT   MEDV
0    False  False  False  False  False  ...  False    False  False  False  False
1    False  False  False  False  False  ...  False    False  False  False  False
2    False  False  False  False  False  ...  False    False  False  False  False
3    False  False  False  False  False  ...  False    False  False  False  False
4    False  False  False  False  False  ...  False    False  False  False  False
..     ...    ...    ...    ...    ...  ...    ...      ...    ...    ...    ...
501  False  False  False  False  False  ...  False    False  False  False  False
502  False  False  False  False  False  ...  False    False  False  False  False
503  False  False  False  False  False  ...  False    False  False  False  False
504  False  False  False  False  False  ...  False    False  False  False  False
505  False  False  False  False  False  ...  False    False  False  False  False

[506 rows x 14 columns]

In [21]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [23]:
from sklearn.model_selection import train_test_split
X = boston.drop('MEDV', axis=1)
Y = boston['MEDV']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size =0.15, random_state=5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(430, 13)
(76, 13)
(430,)
(76,)

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [30]:
lin_model = LinearRegression()

lin_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
y_train_predict = lin_model.predict(X_train)
rmse = (np.sqrt(mean_squared_error(Y_train, y_train_predict)))

print("The model performances for the training ser")
print('RMSE is {}'.format(rmse))
print("\n")


y_test_predict = lin_model.predict(X_test)
rmse = (np.sqrt(mean_squared_error(Y_test, y_test_predict)))

print("The model performance for testing set")
print('RMSE is {}'.format(rmse))

The model performances for the training ser
RMSE is 4.710901797319796


The model performance for testing set
RMSE is 4.687543527902972

In [42]:
print(df.DESCR) 

Boston house prices dataset
---------------------------
**Data Set Characteristics:**
     :Number of Instances: 506
     :Number of Attributes: 13 numeric/categorical predictive. Median Val
     :Attribute Information (in order):
          -CRIM     per capita crime rate by town
          -ZN       proportion of residential land zoned for lots over 25
          -INDUS    proportionof non-retail business acres per town
          -CHAS     Charles River dummy variable (= 1 if tract bounds river)
          -NOX      nitric oxides concentration (parts per 10 million)
          -RM       average number of rooms per dwelling 
          -AGE      proportion of owner-occupied units built prior to 1946
          -DIS      weighted distances to five boston employment centres
          -RAD      index of accessibility to radial highways
          -TAX      full-value property-tax rate per $10,000
          -PTRATIO  pupil-teacher ratio by town
          -B        1000(BK - 0.63)^2 where BK is the proportion of blacks
          -LSTAT    % lower status of the population
          -MEDV     Median Value of owner-occupied homes in $1000's

SyntaxError: ignored